<%-
  include('../components/_header', {
    page: meta['all-electric']
  })
%>

<!--
<section class="section is-paddingless">
  <div class="container is-paddingless">
    <div class="columns">
      <div class="column">
        <img src="images/allElectric-fv.jpg" width="100%">
      </div>
    </div>
  </div>
</section>
-->

<section class="section">
  <div class="container is-fluid">
    <h1 class="title is-3"><span class="underline-gray">商品ラインナップ</span></h1>
    <div class="columns is-multiline">
      <% for (key in allElectric['items']) { %>
      <% if(allElectric['items'][key].visible) { %>
      <div class="column is-4 has-text-centered">

        <div class="columns is-multiline">
          <div class="column is-12">
            <img src="<%= allElectric['items'][key].product_image %>"
              alt="<%= allElectric['items'][key].product_image_description %>" width="200" />
          </div>

          <div class="column is-12">
            <p class="has-text-left">
              <span class="has-text-weight-bold">
                <%= allElectric['items'][key].manufacturer + ' ' + allElectric['items'][key].series %>
              </span>
            </p>
            <p class="has-text-left">
              <%= allElectric['items'][key].description %>
            </p>
          </div>

          <div class="column is-12">
            <p class="is-size-6">
              希望小売価格 ￥<%= allElectric['items'][key].retail_price.toLocaleString() %>円
            </p>
            <p class="is-size-4">
              <span class="underline-red">
                ￥<%= allElectric['items'][key].price.toLocaleString() %>円
              </span>
            </p>
          </div>

          <hr>

        </div>
      </div>
      <% } %>
      <% } %>
    </div>

  </div>
</section>

<% include ../components/_footer %>