<%-
  include('../components/_header', {
    page: meta['qa']
  })
%>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">

      <div class="column qa is-12" id="image-making">
        <h1 class="title">イメージ作り編</h1>
        <div class="tile is-ancestor wrap">
          <!-- Image -->
          <% for (key in qa['image-making']) { %>
          <div class="tile is-parent is-6">
            <article class="tile is-child box">
              <p class="title is-5">
                <%= qa['image-making'][key].question %>
              </p>
              <p class="subtitle is-6">
                <%= qa['image-making'][key].answer %>
              </p>
            </article>
          </div>
          <% } %>
        </div>
      </div>

      <div class="column qa is-12" id="select-company">
        <h1 class="title">会社の見つけ方編</h1>
        <div class="tile is-ancestor wrap">
          <!-- Image -->
          <% for (key in qa['select-company']) { %>
          <div class="tile is-parent is-6">
            <article class="tile is-child box">
              <p class="title is-5">
                <%= qa['select-company'][key].question %>
              </p>
              <p class="subtitle is-6">
                <%= qa['select-company'][key].answer %>
              </p>
            </article>
          </div>
          <% } %>
        </div>
      </div>

      <div class="column qa is-12" id="show-room">
        <h1 class="title">ショールーム活用編</h1>
        <div class="tile is-ancestor wrap">
          <!-- Image -->
          <% for (key in qa['show-room']) { %>
          <div class="tile is-parent is-6">
            <article class="tile is-child box">
              <p class="title is-5">
                <%= qa['show-room'][key].question %>
              </p>
              <p class="subtitle is-6">
                <%= qa['show-room'][key].answer %>
              </p>
            </article>
          </div>
          <% } %>
        </div>
      </div>

      <div class="column qa is-12" id="planning">
        <h1 class="title">プランニング編</h1>
        <div class="tile is-ancestor wrap">
          <!-- Image -->
          <% for (key in qa['planning']) { %>
          <div class="tile is-parent is-6">
            <article class="tile is-child box">
              <p class="title is-5">
                <%= qa['planning'][key].question %>
              </p>
              <p class="subtitle is-6">
                <%= qa['planning'][key].answer %>
              </p>
            </article>
          </div>
          <% } %>
        </div>
      </div>

      <div class="column qa is-12" id="how-much">
        <h1 class="title">リフォームのお金編</h1>
        <div class="tile is-ancestor wrap">
          <!-- Image -->
          <% for (key in qa['how-much']) { %>
          <div class="tile is-parent is-6">
            <article class="tile is-child box">
              <p class="title is-5">
                <%= qa['how-much'][key].question %>
              </p>
              <p class="subtitle is-6">
                <%= qa['how-much'][key].answer %>
              </p>
            </article>
          </div>
          <% } %>
        </div>
      </div>

    </div><!-- columns -->
  </div><!-- container -->
</section>

<!--- Footer -->
<% include ../components/_footer %>