<%
  var rootName = '/reform_test'

  var _default = meta['default']
  for(var key in _default) {
    if(typeof page[key] === 'undefined') {
      page[key] = _default[key]
    }
  }
-%>

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=360, initial-scale=1">
  <title><%= page['title'] %></title>
  <meta name="description" content="<%= page['description'] %>">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
  <script src="js/header.js"></script>
</head>

<body>

  <section class="section">
    <div class="container">
      <header>
        <nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="<%= rootName %>">
              <img src="images/logo.png" width="200" height="50" alt="Kamiken Reform">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
              data-target="navbarBasic">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasic" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="<%= rootName %>">
                トップ
              </a>
              <a class="navbar-item" href="<%= rootName %>#service">
                サービス
              </a>
              <a class="navbar-item" href="<%= rootName %>#staff">
                スタッフ
              </a>
              <a class="navbar-item" href="<%= rootName %>#voice">
                お客様の声
              </a>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-primary" href="//kamiken.info/inquiry">お問い合わせ</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>
    </div>
  </section>